# AC 221: Critical Thinking in Data Science

## Problem Set 1, Part 2
**February 27, 2020**<br/>
**Harvard University**<br/>
**Spring 2020**<br/>

<hr style="height:2pt">

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [28]:
quasi = pd.read_csv('data/final_quasi-identifiers.csv')
quasi_list = list(quasi['variable'].values)

# Drop user_id
quasi_list.pop(1)

['course_id',
 'cc_by_ip',
 'countryLabel',
 'continent',
 'city',
 'region',
 'subdivision',
 'postalCode',
 'LoE',
 'YoB',
 'gender',
 'nforum_posts',
 'nforum_votes',
 'nforum_endorsed',
 'nforum_threads',
 'nforum_comments',
 'nforum_pinned',
 'nforum_events',
 'mode',
 'email_domain']

In [164]:
df = pd.read_csv('APCOMP221Pset1.csv').drop(['user_id', 'username', 'ip', 
                                             'un_major_region', 'un_economic_group', 
                                             'un_developing_nation', 'un_special_region',
                                            'latitude', 'longitude', 'profile_country'], axis=1)

na_replacements = {
    'course_id': 'NA',
    'cc_by_ip': 'NA',
    'countryLabel': 'NA',
    'continent': 'NA',
    'city': 'NA',
    'region': 'NA',
    'subdivision': 'NA',
    'postalCode': 'NA',
    'LoE': 'NA',
    'YoB': -1,
    'gender': 'NA',
    'nforum_posts': 0,
    'nforum_votes': 0,
    'nforum_endorsed': 0,
    'nforum_threads': 0,
    'nforum_comments': 0,
    'nforum_pinned': 0,
    'nforum_events': 0,
    'mode': 'NA',
    'email_domain': 'NA'
}
df = df.fillna(na_replacements)
df

/home/justin/miniconda3/envs/ac221/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (49,50,64) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,course_id,registered,viewed,explored,certified,completed,cc_by_ip,countryLabel,continent,city,...,roles_isInstructor,roles_isStaff,roles_isCCX,roles_isFinance,roles_isLibrary,roles_isSales,forumRoles_isAdmin,forumRoles_isCommunityTA,forumRoles_isModerator,forumRoles_isStudent
0,HarvardX/PH525.1x/1T2018,True,False,NaN,False,False,GB,United Kingdom,Europe,Middlesbrough,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,HarvardX/PH525.1x/1T2018,True,True,True,False,False,US,United States,Americas,Seattle,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,HarvardX/PH525.1x/1T2018,True,True,False,False,False,NA,NA,NA,NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,HarvardX/PH525.1x/1T2018,True,True,False,False,False,US,United States,North America,NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,HarvardX/PH525.1x/1T2018,True,True,True,False,False,HU,Hungary,Europe,Budapest,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141730,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,NA,NA,NA,NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1141731,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,IN,India,Asia,Delhi,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1141732,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,CN,China,Asia,Beijing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1141733,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,BR,Brazil,Americas,Almirante Tamandaré,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1141734,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,IN,India,Asia,Anand,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [135]:
sorted(df.columns.values)

['LoE',
 'YoB',
 'avg_dt',
 'cc_by_ip',
 'cert_created_date',
 'cert_modified_date',
 'cert_status',
 'certified',
 'city',
 'completed',
 'continent',
 'countryLabel',
 'course_id',
 'email_domain',
 'explored',
 'first_event',
 'forumRoles_isAdmin',
 'forumRoles_isCommunityTA',
 'forumRoles_isModerator',
 'forumRoles_isStudent',
 'gender',
 'grade',
 'is_active',
 'language',
 'language_brwsr',
 'language_brwsr_code',
 'language_brwsr_country',
 'language_brwsr_ndiff',
 'language_brwsr_nevents',
 'language_brwsr_sec',
 'language_brwsr_sec_code',
 'language_brwsr_sec_country',
 'language_brwsr_sec_subcode',
 'language_brwsr_subcode',
 'language_download',
 'language_ndiff',
 'language_nevents',
 'last_event',
 'max_dt',
 'mode',
 'n_dt',
 'nchapters',
 'ndays_act',
 'nevents',
 'nforum_comments',
 'nforum_endorsed',
 'nforum_events',
 'nforum_pinned',
 'nforum_posts',
 'nforum_threads',
 'nforum_votes',
 'npause_video',
 'nplay_video',
 'nproblem_check',
 'nprogcheck',
 'nseek_video',
 'nseq_goto',
 'nshow_answer',
 'ntranscript',
 'nvideo',
 'nvideos_total_watched',
 'nvideos_unique_viewed',
 'passing_grade',
 'postalCode',
 'region',
 'registered',
 'roles',
 'roles_isBetaTester',
 'roles_isCCX',
 'roles_isFinance',
 'roles_isInstructor',
 'roles_isLibrary',
 'roles_isSales',
 'roles_isStaff',
 'sdv_dt',
 'start_time',
 'subdivision',
 'sum_dt',
 'verified_enroll_time',
 'verified_unenroll_time',
 'viewed',
 'y1_anomalous']

In [71]:
df.groupby(quasi_list).size().max()

2664

In [72]:
groups = df.groupby(quasi_list).size()
groups.max()

2664

In [73]:
def percent_remaining(k):
    groups = df.groupby(quasi_list).size()
    groups_below_threshold = groups[groups < k]
    return (1 - groups_below_threshold.sum() / df.shape[0]) * 100

percent_remaining(3)
#groups_below_threshold.sum()

13.448304554033996

In [74]:
percent_remaining(4)

11.527018090887985

In [75]:
percent_remaining(5)

10.348110551047307

### Part 2

In [82]:
completion_counts = df['completed'].value_counts(dropna=False)
print(f'Total completion rate: {completion_counts[True] / df.shape[0] * 100:.5}')

Total completion rate: 2.4648

In [95]:
groups = df.groupby(quasi_list).size()
groups_meeting_threshold = groups[groups >= k]

#return (1 - groups_below_threshold.sum() / df.shape[0]) * 100

False    1141735
Name: course_id, dtype: int64

## TODO

In [97]:
groups_meeting_threshold.index[0]

('HarvardX/1368.1x/2T2016',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 -1.0,
 'NA',
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 'honor',
 'gmail.com')

## Question 4

In [104]:
def n_synthetic_required_for(k):
    groups = df.groupby(quasi_list).size()
    groups_below_threshold = groups[groups < k]
    return (k - groups_below_threshold).sum()

In [105]:
n_synthetic_required_for(5)

3837543

In [108]:
import random

In [139]:
col_counts = df['cc_by_ip'].value_counts().to_dict()
col_counts

{'US': 308402,
 'NA': 184426,
 'IN': 77301,
 'GB': 40781,
 'BR': 38065,
 'CA': 36779,
 'CN': 25987,
 'AU': 20788,
 'DE': 18388,
 'MX': 18350,
 'ES': 16420,
 'FR': 14932,
 'CO': 12049,
 'RU': 11443,
 'NL': 10775,
 'TR': 10220,
 'PK': 9650,
 'EG': 9464,
 'GR': 9043,
 'PH': 8837,
 'JP': 8688,
 'SG': 8635,
 'NG': 8515,
 'IT': 8221,
 'KR': 8001,
 'ID': 7901,
 'HK': 7753,
 'PL': 7569,
 'UA': 7143,
 'TW': 6798,
 'PE': 6416,
 'VN': 6030,
 'AR': 5990,
 'ZA': 5342,
 'CL': 5299,
 'MY': 5288,
 'BE': 5280,
 'PT': 5273,
 'RO': 5140,
 'CH': 4539,
 'SA': 4485,
 'SE': 4414,
 'TH': 4356,
 'AE': 3952,
 'IE': 3909,
 'MA': 3589,
 'NZ': 3510,
 'IL': 3258,
 'BD': 3041,
 'KE': 2900,
 'DK': 2820,
 'NO': 2771,
 'AT': 2765,
 'HU': 2726,
 'EC': 2712,
 'GH': 2683,
 'CZ': 2534,
 'RS': 2506,
 'IR': 2275,
 'FI': 2084,
 'VE': 1946,
 'BG': 1919,
 'NP': 1817,
 'DZ': 1729,
 'CR': 1694,
 'HR': 1532,
 'LK': 1531,
 'LT': 1355,
 'DO': 1344,
 'TN': 1302,
 'PR': 1190,
 'UG': 1178,
 'ET': 1156,
 'GT': 1155,
 'JO': 1151,
 'AL': 1127,
 'LB': 1096,
 'BO': 1054,
 'SD': 1008,
 'BY': 998,
 'KZ': 991,
 'QA': 987,
 'SI': 933,
 'SK': 930,
 'GE': 918,
 'EE': 890,
 'MN': 884,
 'UY': 842,
 'JM': 842,
 'TT': 805,
 'SV': 777,
 'TZ': 762,
 'LV': 732,
 'HT': 714,
 'PA': 690,
 'CM': 682,
 'AZ': 678,
 'IQ': 677,
 'MU': 666,
 'BA': 647,
 'ZW': 639,
 'HN': 637,
 'AM': 634,
 'RW': 629,
 'SY': 616,
 'MM': 615,
 'ZM': 612,
 'PY': 592,
 'CY': 585,
 'KW': 564,
 'MK': 523,
 'KH': 508,
 'OM': 491,
 'MD': 444,
 'BH': 426,
 'PS': 418,
 'UZ': 378,
 'LU': 376,
 'NI': 364,
 'IS': 321,
 'CI': 318,
 'YE': 306,
 'MT': 301,
 'SO': 297,
 'SN': 295,
 'MO': 277,
 'BW': 276,
 'KG': 274,
 'MW': 271,
 'MZ': 258,
 'GY': 232,
 'AF': 229,
 'BS': 221,
 'LY': 212,
 'MG': 201,
 'BB': 201,
 'FJ': 183,
 'AO': 177,
 'CD': 170,
 'ME': 165,
 'MV': 164,
 'BF': 162,
 'BZ': 142,
 'SL': 142,
 'GM': 141,
 'BN': 138,
 'PG': 116,
 'CU': 116,
 'SR': 104,
 'BJ': 103,
 'LR': 101,
 'LA': 101,
 'BT': 96,
 'LC': 96,
 'GU': 96,
 'CW': 91,
 'LS': 80,
 'RE': 78,
 'DJ': 76,
 'AG': 75,
 'KY': 74,
 'GN': 72,
 'GD': 68,
 'BM': 65,
 'SZ': 65,
 'BI': 63,
 'TG': 61,
 'GA': 61,
 'TJ': 56,
 'ML': 56,
 'NE': 54,
 'JE': 50,
 'CV': 49,
 'DM': 46,
 'SS': 44,
 'AW': 38,
 'IM': 38,
 'VI': 37,
 'KN': 37,
 'VC': 37,
 'SB': 37,
 'MC': 36,
 'MR': 34,
 'VU': 32,
 'AD': 30,
 'GP': 29,
 'MP': 28,
 'CG': 28,
 'SC': 27,
 'PF': 26,
 'GG': 24,
 'VG': 23,
 'MQ': 22,
 'NC': 20,
 'TC': 17,
 'GI': 17,
 'AS': 17,
 'GQ': 16,
 'TM': 14,
 'FO': 14,
 'GF': 14,
 'TL': 13,
 'FM': 13,
 'AI': 13,
 'BQ': 11,
 'TD': 11,
 'LI': 10,
 'TO': 10,
 'MH': 9,
 'WS': 9,
 'GL': 8,
 'CF': 7,
 'KI': 7,
 'SX': 7,
 'ER': 6,
 'KM': 5,
 'AX': 4,
 'MS': 4,
 'GW': 4,
 'YT': 3,
 'PW': 3,
 'NR': 3,
 'ST': 2,
 'AQ': 1,
 'FK': 1,
 'SM': 1}

In [119]:
pd.Series(random.choices(col_counts.index.values, weights=col_counts.values, k=int(1.1e6))).value_counts()

US    297305
NA    178095
IN     74130
GB     39360
BR     36850
       ...
PW         3
AX         2
FK         1
ST         1
SM         1
Length: 224, dtype: int64

## Question 5

Steps: 
* Generalization
  * Drop cc_by_ip and set to NA any geo block with < 5000 members
  * Blurring YoB
  * Blurring nforum stuff
  * email_domain is generalized by TLD
  * LoE: college or not, detailed in doc
  * Course ID - split hierarchy and remove last segments
* Suppress everything else

In [153]:
sorted(quasi_list)

['LoE',
 'YoB',
 'cc_by_ip',
 'city',
 'continent',
 'countryLabel',
 'course_id',
 'email_domain',
 'gender',
 'mode',
 'nforum_comments',
 'nforum_endorsed',
 'nforum_events',
 'nforum_pinned',
 'nforum_posts',
 'nforum_threads',
 'nforum_votes',
 'postalCode',
 'region',
 'subdivision']

In [165]:
def generalize_geo(df, min_per_geo=5000):
    g = df.copy()
    GEO_HIERARCHY = [
        'postalCode',
        'city',
        'subdivision',
        'region',
        'countryLabel',
        'continent']
    g = g.drop('cc_by_ip', axis=1)
    for field in GEO_HIERARCHY:
        value_counts = g[field].value_counts()
        values_to_drop = set(value_counts[value_counts < min_per_geo].index.values)
        g.loc[g[field].isin(values_to_drop), field] = na_replacements[field]
    return g
generalize_geo(df)

,course_id,registered,viewed,explored,certified,completed,countryLabel,continent,city,region,...,roles_isInstructor,roles_isStaff,roles_isCCX,roles_isFinance,roles_isLibrary,roles_isSales,forumRoles_isAdmin,forumRoles_isCommunityTA,forumRoles_isModerator,forumRoles_isStudent
0,HarvardX/PH525.1x/1T2018,True,False,NaN,False,False,United Kingdom,Europe,NA,NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,HarvardX/PH525.1x/1T2018,True,True,True,False,False,United States,Americas,NA,WA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,HarvardX/PH525.1x/1T2018,True,True,False,False,False,NA,NA,NA,NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,HarvardX/PH525.1x/1T2018,True,True,False,False,False,United States,North America,NA,NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,HarvardX/PH525.1x/1T2018,True,True,True,False,False,NA,Europe,NA,NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141730,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,NA,NA,NA,NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1141731,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,India,Asia,Delhi,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1141732,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,China,Asia,Beijing,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1141733,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,Brazil,Americas,NA,NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1141734,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,India,Asia,NA,NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [168]:
def generalize_education(df):
    g = df.copy()
    # Associate is sometimes not included as college, but we are including it.
    college_levels = set(['p', 'p_se', 'p_oth', 'm', 'b', 'a'])
    g['attended_college'] = g['LoE'].isin(college_levels)
    return g.drop('LoE', axis=1)
generalize_education(df)

,course_id,registered,viewed,explored,certified,completed,cc_by_ip,countryLabel,continent,city,...,roles_isStaff,roles_isCCX,roles_isFinance,roles_isLibrary,roles_isSales,forumRoles_isAdmin,forumRoles_isCommunityTA,forumRoles_isModerator,forumRoles_isStudent,attended_college
0,HarvardX/PH525.1x/1T2018,True,False,NaN,False,False,GB,United Kingdom,Europe,Middlesbrough,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,False
1,HarvardX/PH525.1x/1T2018,True,True,True,False,False,US,United States,Americas,Seattle,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,False
2,HarvardX/PH525.1x/1T2018,True,True,False,False,False,NA,NA,NA,NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,False
3,HarvardX/PH525.1x/1T2018,True,True,False,False,False,US,United States,North America,NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,False
4,HarvardX/PH525.1x/1T2018,True,True,True,False,False,HU,Hungary,Europe,Budapest,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141730,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,NA,NA,NA,NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,False
1141731,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,IN,India,Asia,Delhi,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,False
1141732,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,CN,China,Asia,Beijing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,False
1141733,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,BR,Brazil,Americas,Almirante Tamandaré,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,True
1141734,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,IN,India,Asia,Anand,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,False

In [172]:
def generalize_birth_year(df):
    g = df.copy()
    g['birth_decade'] = df['YoB'].apply(lambda y: str(y)[:3] + '*' if y>-1 else 'NA')
    return g.drop('YoB', axis=1)
generalize_birth_year(df)

,course_id,registered,viewed,explored,certified,completed,cc_by_ip,countryLabel,continent,city,...,roles_isStaff,roles_isCCX,roles_isFinance,roles_isLibrary,roles_isSales,forumRoles_isAdmin,forumRoles_isCommunityTA,forumRoles_isModerator,forumRoles_isStudent,birth_decade
0,HarvardX/PH525.1x/1T2018,True,False,NaN,False,False,GB,United Kingdom,Europe,Middlesbrough,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NA
1,HarvardX/PH525.1x/1T2018,True,True,True,False,False,US,United States,Americas,Seattle,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NA
2,HarvardX/PH525.1x/1T2018,True,True,False,False,False,NA,NA,NA,NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NA
3,HarvardX/PH525.1x/1T2018,True,True,False,False,False,US,United States,North America,NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NA
4,HarvardX/PH525.1x/1T2018,True,True,True,False,False,HU,Hungary,Europe,Budapest,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,198*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141730,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,NA,NA,NA,NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NA
1141731,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,IN,India,Asia,Delhi,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,199*
1141732,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,CN,China,Asia,Beijing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NA
1141733,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,BR,Brazil,Americas,Almirante Tamandaré,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,198*
1141734,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,IN,India,Asia,Anand,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,199*

In [207]:
def generalize_forum_actions(df):
    g = df.copy()
    fields = ['nforum_posts',
        'nforum_votes',
        'nforum_endorsed',
        'nforum_threads',
        'nforum_comments',
        'nforum_pinned',
        'nforum_events']
    for field in fields:
        g[field + '_>0'] = g[field] > 0
        g = g.drop(field, axis=1)
    return g
generalize_forum_actions(df)

,course_id,registered,viewed,explored,certified,completed,cc_by_ip,countryLabel,continent,city,...,forumRoles_isCommunityTA,forumRoles_isModerator,forumRoles_isStudent,nforum_posts_>0,nforum_votes_>0,nforum_endorsed_>0,nforum_threads_>0,nforum_comments_>0,nforum_pinned_>0,nforum_events_>0
0,HarvardX/PH525.1x/1T2018,True,False,NaN,False,False,GB,United Kingdom,Europe,Middlesbrough,...,NaN,NaN,1.0,False,False,False,False,False,False,False
1,HarvardX/PH525.1x/1T2018,True,True,True,False,False,US,United States,Americas,Seattle,...,NaN,NaN,1.0,False,False,False,False,False,False,False
2,HarvardX/PH525.1x/1T2018,True,True,False,False,False,NA,NA,NA,NA,...,NaN,NaN,1.0,False,False,False,False,False,False,False
3,HarvardX/PH525.1x/1T2018,True,True,False,False,False,US,United States,North America,NA,...,NaN,NaN,1.0,False,False,False,False,False,False,False
4,HarvardX/PH525.1x/1T2018,True,True,True,False,False,HU,Hungary,Europe,Budapest,...,NaN,NaN,1.0,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141730,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,NA,NA,NA,NA,...,NaN,NaN,1.0,False,False,False,False,False,False,False
1141731,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,IN,India,Asia,Delhi,...,NaN,NaN,1.0,False,False,False,False,False,False,False
1141732,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,CN,China,Asia,Beijing,...,NaN,NaN,1.0,False,False,False,False,False,False,False
1141733,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,BR,Brazil,Americas,Almirante Tamandaré,...,NaN,NaN,1.0,False,False,False,False,False,False,False
1141734,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,IN,India,Asia,Anand,...,NaN,NaN,1.0,False,False,False,False,False,False,False

In [211]:
def generalize_df(df):
    return generalize_geo(
        generalize_birth_year(
        generalize_education(
        generalize_forum_actions(df))))
generalized = generalize_df(df)

In [216]:
generalized_quasi_cols = [
    'postalCode',
        'city',
        'subdivision',
        'region',
        'countryLabel',
        'continent',
    'nforum_posts_>0',
        'nforum_votes_>0',
        'nforum_endorsed_>0',
        'nforum_threads_>0',
        'nforum_comments_>0',
        'nforum_pinned_>0',
        'nforum_events_>0',
    'birth_decade',
    'attended_college'
]
(generalized.groupby(generalized_quasi_cols).size() < 3).index

MultiIndex([('NA',  'Athens',  'Attica',  'I', 'Greece',   'Europe', ...),
            ('NA',  'Athens',  'Attica',  'I', 'Greece',   'Europe', ...),
            ('NA',  'Athens',  'Attica',  'I', 'Greece',   'Europe', ...),
            ('NA',  'Athens',  'Attica',  'I', 'Greece',   'Europe', ...),
            ('NA',  'Athens',  'Attica',  'I', 'Greece',   'Europe', ...),
            ('NA',  'Athens',  'Attica',  'I', 'Greece',   'Europe', ...),
            ('NA',  'Athens',  'Attica',  'I', 'Greece',   'Europe', ...),
            ('NA',  'Athens',  'Attica',  'I', 'Greece',   'Europe', ...),
            ('NA',  'Athens',  'Attica',  'I', 'Greece',   'Europe', ...),
            ('NA',  'Athens',  'Attica',  'I', 'Greece',   'Europe', ...),
            ...
            ('NA', 'Toronto', 'Ontario', 'ON', 'Canada', 'Americas', ...),
            ('NA', 'Toronto', 'Ontario', 'ON', 'Canada', 'Americas', ...),
            ('NA', 'Toronto', 'Ontario', 'ON', 'Canada', 'Americas', ...),
            ('NA', 'Toronto', 'Ontario', 'ON', 'Canada', 'Americas', ...),
            ('NA', 'Toronto', 'Ontario', 'ON', 'Canada', 'Americas', ...),
            ('NA', 'Toronto', 'Ontario', 'ON', 'Canada', 'Americas', ...),
            ('NA', 'Toronto', 'Ontario', 'ON', 'Canada', 'Americas', ...),
            ('NA', 'Toronto', 'Ontario', 'ON', 'Canada', 'Americas', ...),
            ('NA', 'Toronto', 'Ontario', 'ON', 'Canada', 'Americas', ...),
            ('NA', 'Toronto', 'Ontario', 'ON', 'Canada', 'Americas', ...)],
           names=['postalCode', 'city', 'subdivision', 'region', 'countryLabel', 'continent', 'nforum_posts_>0', 'nforum_votes_>0', 'nforum_endorsed_>0', 'nforum_threads_>0', 'nforum_comments_>0', 'nforum_pinned_>0', 'nforum_events_>0', 'birth_decade', 'attended_college'], length=16103)

Stopping here. I need to iterate through the rows of the full

## Question 6

Sensitive: completed, grade, LoE, nproblem_check, nvideo_plays, nshow_answer, cert_status

Combinations can be sensitive: ratio of views to unique videos viewed