# AC 221: Critical Thinking in Data Science

## Problem Set 1, Part 2
**February 27, 2020**<br/>
**Harvard University**<br/>
**Spring 2020**<br/>

<hr style="height:2pt">

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [28]:
quasi = pd.read_csv('data/final_quasi-identifiers.csv')
quasi_list = list(quasi['variable'].values)

# Drop user_id
quasi_list.pop(1)

['course_id',
 'cc_by_ip',
 'countryLabel',
 'continent',
 'city',
 'region',
 'subdivision',
 'postalCode',
 'LoE',
 'YoB',
 'gender',
 'nforum_posts',
 'nforum_votes',
 'nforum_endorsed',
 'nforum_threads',
 'nforum_comments',
 'nforum_pinned',
 'nforum_events',
 'mode',
 'email_domain']

In [125]:
df = pd.read_csv('APCOMP221Pset1.csv').drop(['user_id', 'username', 'ip', 
                                             'un_major_region', 'un_economic_group', 
                                             'un_developing_nation', 'un_special_region',
                                            'latitude', 'longitude', 'profile_country'], axis=1)

na_replacements = {
    'course_id': 'NA',
    'cc_by_ip': 'NA',
    'countryLabel': 'NA',
    'continent': 'NA',
    'city': 'NA',
    'region': 'NA',
    'subdivision': 'NA',
    'postalCode': 'NA',
    'LoE': 'NA',
    'YoB': -1,
    'gender': 'NA',
    'nforum_posts': 0,
    'nforum_votes': 0,
    'nforum_endorsed': 0,
    'nforum_threads': 0,
    'nforum_comments': 0,
    'nforum_pinned': 0,
    'nforum_events': 0,
    'mode': 'NA',
    'email_domain': 'NA'
}
df = df.fillna(na_replacements)
df

/home/justin/miniconda3/envs/ac221/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (49,50,64) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,course_id,registered,viewed,explored,certified,completed,cc_by_ip,countryLabel,continent,city,...,roles_isInstructor,roles_isStaff,roles_isCCX,roles_isFinance,roles_isLibrary,roles_isSales,forumRoles_isAdmin,forumRoles_isCommunityTA,forumRoles_isModerator,forumRoles_isStudent
0,HarvardX/PH525.1x/1T2018,True,False,NaN,False,False,GB,United Kingdom,Europe,Middlesbrough,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,HarvardX/PH525.1x/1T2018,True,True,True,False,False,US,United States,Americas,Seattle,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,HarvardX/PH525.1x/1T2018,True,True,False,False,False,NA,NA,NA,NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,HarvardX/PH525.1x/1T2018,True,True,False,False,False,US,United States,North America,NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,HarvardX/PH525.1x/1T2018,True,True,True,False,False,HU,Hungary,Europe,Budapest,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141730,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,NA,NA,NA,NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1141731,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,IN,India,Asia,Delhi,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1141732,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,CN,China,Asia,Beijing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1141733,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,BR,Brazil,Americas,Almirante Tamandaré,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1141734,HarvardX/PH525.5x/2T2018,True,False,NaN,False,False,IN,India,Asia,Anand,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [135]:
sorted(df.columns.values)

['LoE',
 'YoB',
 'avg_dt',
 'cc_by_ip',
 'cert_created_date',
 'cert_modified_date',
 'cert_status',
 'certified',
 'city',
 'completed',
 'continent',
 'countryLabel',
 'course_id',
 'email_domain',
 'explored',
 'first_event',
 'forumRoles_isAdmin',
 'forumRoles_isCommunityTA',
 'forumRoles_isModerator',
 'forumRoles_isStudent',
 'gender',
 'grade',
 'is_active',
 'language',
 'language_brwsr',
 'language_brwsr_code',
 'language_brwsr_country',
 'language_brwsr_ndiff',
 'language_brwsr_nevents',
 'language_brwsr_sec',
 'language_brwsr_sec_code',
 'language_brwsr_sec_country',
 'language_brwsr_sec_subcode',
 'language_brwsr_subcode',
 'language_download',
 'language_ndiff',
 'language_nevents',
 'last_event',
 'max_dt',
 'mode',
 'n_dt',
 'nchapters',
 'ndays_act',
 'nevents',
 'nforum_comments',
 'nforum_endorsed',
 'nforum_events',
 'nforum_pinned',
 'nforum_posts',
 'nforum_threads',
 'nforum_votes',
 'npause_video',
 'nplay_video',
 'nproblem_check',
 'nprogcheck',
 'nseek_video',
 'nseq_goto',
 'nshow_answer',
 'ntranscript',
 'nvideo',
 'nvideos_total_watched',
 'nvideos_unique_viewed',
 'passing_grade',
 'postalCode',
 'region',
 'registered',
 'roles',
 'roles_isBetaTester',
 'roles_isCCX',
 'roles_isFinance',
 'roles_isInstructor',
 'roles_isLibrary',
 'roles_isSales',
 'roles_isStaff',
 'sdv_dt',
 'start_time',
 'subdivision',
 'sum_dt',
 'verified_enroll_time',
 'verified_unenroll_time',
 'viewed',
 'y1_anomalous']

In [71]:
df.groupby(quasi_list).size().max()

2664

In [72]:
groups = df.groupby(quasi_list).size()
groups.max()

2664

In [73]:
def percent_remaining(k):
    groups = df.groupby(quasi_list).size()
    groups_below_threshold = groups[groups < k]
    return (1 - groups_below_threshold.sum() / df.shape[0]) * 100

percent_remaining(3)
#groups_below_threshold.sum()

13.448304554033996

In [74]:
percent_remaining(4)

11.527018090887985

In [75]:
percent_remaining(5)

10.348110551047307

### Part 2

In [82]:
completion_counts = df['completed'].value_counts(dropna=False)
print(f'Total completion rate: {completion_counts[True] / df.shape[0] * 100:.5}')

Total completion rate: 2.4648

In [95]:
groups = df.groupby(quasi_list).size()
groups_meeting_threshold = groups[groups >= k]

#return (1 - groups_below_threshold.sum() / df.shape[0]) * 100

False    1141735
Name: course_id, dtype: int64

## TODO

In [97]:
groups_meeting_threshold.index[0]

('HarvardX/1368.1x/2T2016',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 -1.0,
 'NA',
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 'honor',
 'gmail.com')

## Question 4

In [104]:
def n_synthetic_required_for(k):
    groups = df.groupby(quasi_list).size()
    groups_below_threshold = groups[groups < k]
    return (k - groups_below_threshold).sum()

In [105]:
n_synthetic_required_for(5)

3837543

In [108]:
import random

In [118]:
col_counts = df['cc_by_ip'].value_counts()
col_counts

US    308402
NA    184426
IN     77301
GB     40781
BR     38065
       ...
NR         3
ST         2
AQ         1
FK         1
SM         1
Name: cc_by_ip, Length: 226, dtype: int64

In [119]:
pd.Series(random.choices(col_counts.index.values, weights=col_counts.values, k=int(1.1e6))).value_counts()

US    297305
NA    178095
IN     74130
GB     39360
BR     36850
       ...
PW         3
AX         2
FK         1
ST         1
SM         1
Length: 224, dtype: int64

## Question 5

Steps: 
* Generalize any column that values that have fewer than k members
  * Dropping location columns
  * Blurring YoB
  * Blurring nforum stuff
  * email_domain is generalized by TLD
  * LoE: college or not, detailed in doc
  * Course ID - split hierarchy and remove last segments
* Suppress everything else

In [133]:
df['course_id'].value_counts()

HarvardX/CS50x3/2015                        126249
HarvardX/CS50/X                             124119
HarvardX/CS50x/2014_T1                       70600
HarvardX/GSD1x/1T2017                        31917
HarvardX/MCB80.1x/2013_SOND                  19616
                                             ...
HarvardX/MUS24.4x/2T2018                        27
HarvardX/HLS1xC/Copyright                       27
HarvardX/HLS1xA/Copyright                       26
HarvardX/BUS5.1x_Application_Only/3T2015        18
HarvardX/HLS1x/2013_Spring                       4
Name: course_id, Length: 280, dtype: int64

In [129]:
df['postalCode'].value_counts()

NA       704467
K2H        4390
02138      2677
10001      2287
10245      2258
          ...
32032         1
31060         1
16630         1
16800         1
68920         1
Name: postalCode, Length: 33174, dtype: int64

## Question 6

Sensitive: completed, grade, LoE, nproblem_check, nvideo_plays, nshow_answer, cert_status

Combinations can be sensitive: ratio of views to unique videos viewed